@font-face {
    font-family: 'Netflix Sans';
    src: url(./circular-std-medium-500.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.landing {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./banner.jpg');
    background-size: cover;
    color: white;
    font-family: 'Netflix Sans', sans-serif;
    border-bottom: 5px solid rgba(128,128,128,0.7);
}

nav {
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0 5px 0;
    gap: 600px;

    > button {
        width: 76px;
        height: 32px;
        background-color: #E50914;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Netflix Sans', sans-serif;
    }
}

.logo-img {
    width: 150px;
    height: 100%;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.landing-wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    > h2 {
        font-size: 50px;
    }

    > h4 {
        font-size: 25px;
    }
}

.email-entry {
    width: 374px;
    height: 56px;
    background-color: transparent;
    border: solid 1px gray;
    border-radius: 5px;
    font-family: 'Netflix Sans', sans-serif;
    font-size: 15px;
    padding-left: 20px;
    color: white;
}
.start-btn {
    width: 204px;
    height: 56px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #E50914;
    font-family: 'Netflix Sans', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    background-color: #a9070f;
}

.enjoy {
    height: 80vh;
    width: 100%;
    border-bottom: 5px solid rgba(128,128,128,0.7);
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Netflix Sans', sans-serif;
}
.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapper-text {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    > h2 {
        font-size: 50px;
    }

    > h4 {
        font-size: 25px;
        font-weight: lighter;
        line-height: 30px;
    }
}
.wrapper-img {
    width: 475px;
    height: 355px;
    display: flex;
    align-items: center;

    >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}